$primaryColor: #eeffcc;
$boxMargin: 20px;
$boxHeight: 600px;
$boxWidth: 45%;

body {
    background: $primaryColor;
}
.input {
  float: left;
}
.output {
  border: 1px solid;
  padding-left: 2px;
  float: right;
}
.input, .output {
  margin: $boxMargin;
  height: $boxHeight;
  min-width: $boxWidth;
  background-color: white;
  display: block;
  overflow: scroll;
}
